<div class="base__view">
<div class="title__list">
  <p class="food">食品名</p>
  <p class="amount">数量</p>
  <p class="price">値段</p>
</div>
<div class="fridge__main">
<div class="fridge__lists">
<ul class='food-list'>
  <% @fridges.each do |fridge| %>
    <li>
      <p class="food"><%= fridge.food %></p>
      <p class="amount"><%= fridge.amount %><%= fridge.unit %></p>
      <p class="price"><%= fridge.price %>円</p>
    </li>
  <% end %>
</ul>
</div>
</div>
</div>