<ul class='food-lists'>
  <% @fridges.each do |fridge| %>
    <li class='list'>
      <%= fridge.food %>
      <%= fridge.amount %><%= fridge.unit %>
      <%= fridge.price %>円
    </li>
  <% end %>
</ul>