<div class="graph_title">
<p>１ヶ月の食費記録</p>
</div>

<div class="graph">
<%= column_chart @eats.group_by_day(:date, last: 30).sum(:price), colors: ["#69B587"], width: "600px", height: "500px", ytitle: "円" %>
</div>